build/
bin/

cmake-build-debug/
.idea/

compressor_mono.c
compressor_mono_sc.c
compressor_stereo.c
compressor_stereo_sc.c
eq10qm.c
eq10qs.c
eq1qm.c
eq1qs.c
eq4qm.c
eq4qs.c
eq6qm.c
eq6qs.c
gate_mono.c
gate_stereo.c
matrix_lr2ms.c
matrix_ms2lr.c
gui/guitester_cfg_.cpp
